<div class="container-fluid">
    <nav class="navbar navbar-expand-sm">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="contactUs.html">Contact us</a></li>
        <li class="nav-item"><a class="nav-link" href="aboutus.html">About us</a></li>
        <li class="nav-item"><a class="nav-link" href="join.html">Join</a></li>
        <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="store.html">Store</a></li>
        <li class="nav-item"><a class="nav-link" href="design.html">Design</a></li>
        <li class="nav-item"><a class="nav-link" href="courses.html">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="community.html">Community</a></li>
        <li class="nav-item"><a class="nav-link" href="sell.html">Sell</a></li>
        <li class="nav-item"><a class="nav-link" href="cart.html">Cart</a></li>
      </ul>
    </nav>
    <div class="header">
      <img src="logo.png" alt="logo" class="logo">
      <p class="logo">Sadeem</p>
    </div>
    <form name="feedbackForm" onsubmit="return ValidationForm()" method="post">
      <h1>Questionnaire</h1>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">  
      <br><br>
      <label for="gender">Gender:</label>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label>
      <br><br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
      <br><br>
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required>
      <br><br>
      <label for="satisfaction">How satisfied are you with our website?</label><br>
      <input type="checkbox" value="Very satisfied" name="satisfaction">Very satisfied
      <input type="checkbox" value="Satisfied" name="satisfaction">Satisfied
      <input type="checkbox" value="Neutral" name="satisfaction">Neutral
      <input type="checkbox" value="Unsatisfied" name="satisfaction">Unsatisfied
      <input type="checkbox" value="Very unsatisfied" name="satisfaction">Very unsatisfied
      <br><br>
      <label for="opinion">Share your opinion to help us improve:</label><br>
      <textarea id="opinion" name="opinion" rows="4"></textarea>
      <br>
      <button id="button" type="submit" value="Submit">Submit</button>
    </form>
    <footer>
      <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="community.html">Community</a></li>
      </ul>
      <div class="footer-icons">
        <a href="mailto:sadeemartcommunity@gmail.com">
          <img src="emailicon.png" alt="email icon" style="height: 45px; width: 45px;">
        </a>
        <a href="https://github.com/MKS229/Sadeem">
          <img src="github.png" alt="github icon">
        </a>
      </div>
    </footer>
  </div>